/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for IGB Biocluster
 * -------------------------------------------------
 */

base = 'UIUC-HPCBio'

process {
    // Global process config
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

    withName:splitCSV {
        module = ['Python/3.7.2-IGB-gcc-8.2.0']
    }
    withName:subsetSeq {
        module = ['FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152']
    }
}

params {
  max_memory = 320.GB
  max_cpus = 24
  max_time = 240.h
}