/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for IGB Biocluster
 * -------------------------------------------------
 */

base = 'UIUC-HPCBio'

process {
    // Global process config
    executor = 'slurm'
    clusterOptions = "-A h3abionet"
    queue = "normal"
    withName:sampleSeq {
        module = ["seqtk/1.2-IGB-gcc-4.9.4","pigz/2.3.4-IGB-gcc-4.9.4"]
        cpus = 4
        memory = "12g"
    }
    withName:md5 {
        module = ["seqtk/1.2-IGB-gcc-4.9.4","pigz/2.3.4-IGB-gcc-4.9.4"]
        cpus = 4
        memory = "12g"
    }    
}

params {
  max_memory = 320.GB
  max_cpus = 24
  max_time = 240.h
}